body {
    font-family: 'Comic Sans MS';
    margin: 0;
    padding: 0;
    background-color: #FFFDD0;
}

header {
    font-family: 'Comic Sans MS';
    background-color: #FE1100;
    color: #333;
    padding: 10px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #FFFDD0;
    padding: 10px;
}

nav a {
    color: #222;
    padding: 10px;
    margin: 0 10px;
    border-radius: 5px;
}

section {
    padding: 20px;
}

h2 {
    font-family: 'Comic Sans MS';
}


.image-container {
    display: flex;
    justify-content: center;
}

.image-container img {
    margin: 0 10px; /* This adds space between the images. Adjust as needed. */
    max-width: 100%; /* Ensures images are responsive */
    height: auto; /* Maintains aspect ratio */
}

/* Media queries for responsive design */

/* For smaller screens it will stack the images instead */
@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}

/* Tablets and larger screens */
@media only screen and (min-width: 600px) {
    nav {
        flex-direction: row;
    }

    /* Larger video size for tablets and larger screens */
    section#videos iframe {
        width: 70%;
        height: 400px;
    }
}

/* Desktops and larger screens */
@media only screen and (min-width: 1024px) {
    body {
        font-size: 18px;
    }

    /* Larger video size for desktops and larger screens */
    section#videos iframe {
        width: 80%;
        height: 500px;
    }
}
